.picture {
  width: 200px;
  position: relative;
}

.picture_box {
  width: 200px;
  height: 200px;

  display: inline-block;
  position: relative;
}

img.picture.checked{
  border:10px solid blue;
  box-sizing: border-box;
}

.picture_box img.picture.checked + .disabled_checkbox {
  display: block;
}

.disabled_checkbox {
  position: absolute;
  top: 12px;
  right: 12px;
  display: none;
}

/*カスタムフォーム */
.custom-file {
  overflow: hidden;
}